/* .card {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
}

.supabase-auth-ui_ui-button {
  justify-content: left;
} */

.icon {
  width: 50px;
  height: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
