.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #242424;
  width: 1080px;
}

.divider {
  color: rgba(255, 255, 255, 0.87);
  background: var(--colors-dividerBackground);
  display: block;
  margin: 16px 0px;
  height: 1px;
  width: 90%;
  align-self: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--button-primary-color);
  border: 1px solid var(--colors-customBorder);
  padding: 0px 20px;
}

.search-container:hover {
  border-color: var(--colors-inputBorderFocus);
  outline: none;
}

.search-container:hover form {
  width: 800px;
}

.search-container:hover form input {
  display: block;
}

@media screen and (max-width: 450px)  {
  .search-container:hover form:hover,
  .search-container:hover form:valid {
    width: 37vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) and (min-width: 451px) {
  .search-container:hover form:hover,
  .search-container:hover form:valid {
    width: 50vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 970px) and (min-width: 701px) {
  .search-container:hover form:hover,
  .search-container:hover form:valid {
    width: 65vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 1080px) and (min-width: 971px) {
  .search-container:hover form:hover,
  .search-container:hover form:valid {
    width: 74vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 1080px) {
  .dashboard-container {
    width: 100vw;
  }
}