.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #242424;
  width: 1080px;
}

.logout-button {
  margin: 20px;
  width: 100px;
  background-color: var(--colors-brand);
  border-radius: 4px;
}

@media screen and (max-width: 1080px) {
  .dashboard-container {
    width: 100vw;
  }
}