.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--colors-customBackground);
  border: 1px solid var(--colors-customBorder);
  border-radius: 9px;
  margin: 20px;
}

.container:hover:not(:disabled) {
  background-color: var(--colors-customBackgroundHover);
  border-color: var(--colors-inputBorderFocus);
  outline: none;
}

.h2 {
  margin: 0px 0px 20px 0px;
}

.h1 {
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}
.plusIcon {
  margin-left: 10px;
  scale: 1.5;
}

.share-tile-container {
  display: flex;
  justify-content: space-between;
}

.input {
  font-family: var(--fonts-inputFontFamily);
  background: var(--colors-inputBackground);
  border-radius: var(--radii-inputBorderRadius);
  padding: var(--space-inputPadding);
  cursor: text;
  border-width: var(--borderWidths-inputBorderWidth);
  border-color: var(--colors-inputBorder);
  border-style: solid;
  font-size: var(--fontSizes-baseInputSize);
  width: 100%;
  color: var(--colors-inputText);
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  letter-spacing: 0px;
  margin-bottom: 5px;
}:focus {
  border-color: var(--colors-inputBorderFocus);
  outline: none;
}

.text-area {
  font-family: var(--fonts-inputFontFamily);
  background: var(--colors-inputBackground);
  border-radius: var(--radii-inputBorderRadius);
  padding: var(--space-inputPadding);
  cursor: text;
  border-width: var(--borderWidths-inputBorderWidth);
  border-color: var(--colors-inputBorder);
  border-style: solid;
  font-size: var(--fontSizes-baseInputSize);
  width: 100%;
  color: var(--colors-inputText);
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  letter-spacing: 0px;
  resize:vertical;
  margin-bottom: 20px;
  min-height: 150px;
}:focus {
  border-color: var(--colors-inputBorderFocus);
  outline: none;
}

.button {
  font-family: var(--fonts-buttonFontFamily);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radii-borderRadiusButton);
  font-size: var(--fontSizes-baseButtonSize);
  padding: var(--space-buttonPadding);
  cursor: pointer;
  border-width: var(--borderWidths-buttonBorderWidth);
  border-style: solid;
  width: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  background-color: var(--colors-brand);
  color: var(--colors-brandButtonText);
  border-color: var(--colors-brandAccent);
}

.button:hover {
  background-color: var(--colors-brandAccent);
}
