:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/background-icon.png');
  background-repeat: space;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colors-brand: hsl(153 60.0% 53.0%) !important;
  --colors-brandAccent: hsl(154 54.8% 45.1%) !important;
  --colors-inputLabelText: gray !important;
  --colors-messageText: gray !important;
  --colors-messageTextDanger: red !important;
  --colors-anchorTextColor: gray !important;
  --colors-anchorTextHoverColor: darkgray !important;
  --space-spaceSmall: 4px !important;
  --space-spaceMedium: 8px !important;
  --space-spaceLarge: 16px !important;
  --space-labelBottomMargin: 8px !important;
  --space-anchorBottomMargin: 4px !important;
  --space-emailInputSpacing: 4px !important;
  --space-socialAuthSpacing: 4px !important;
  --space-buttonPadding: 10px 15px !important;
  --space-inputPadding: 10px 15px !important;
  --fontSizes-baseBodySize: 13px !important;
  --fontSizes-baseInputSize: 14px !important;
  --fontSizes-baseLabelSize: 14px !important;
  --fontSizes-baseButtonSize: 14px !important;
  --fonts-bodyFontFamily: ui-sans-serif, sans-serif !important;
  --fonts-buttonFontFamily: ui-sans-serif, sans-serif !important;
  --fonts-inputFontFamily: ui-sans-serif, sans-serif !important;
  --fonts-labelFontFamily: ui-sans-serif, sans-serif !important;
  --borderWidths-buttonBorderWidth: 1px !important;
  --borderWidths-inputBorderWidth: 1px !important;
  --radii-borderRadiusButton: 4px !important;
  --radii-buttonBorderRadius: 4px !important;
  --radii-inputBorderRadius: 4px !important;
  --button-primary-color: #1D1C1C !important;
  --colors-brandButtonText: white !important;
  --colors-customBackground: #2e2e2e !important;
  --colors-customBackgroundHover: #3e3e3e !important;
  --colors-customBorder: #3e3e3e !important;
  --colors-defaultButtonText: white !important;
  --colors-dividerBackground: #2e2e2e !important;
  --colors-inputBackground: #1e1e1e !important;
  --colors-inputBorder: #3e3e3e !important;
  --colors-inputBorderHover: gray !important;
  --colors-inputBorderFocus: gray !important;
  --colors-inputText: white !important;
  --colors-inputPlaceholder: darkgray !important;
}

.swal2-confirm{
  font-family: var(--fonts-buttonFontFamily);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radii-borderRadiusButton);
  font-size: var(--fontSizes-baseButtonSize);
  padding: var(--space-buttonPadding);
  cursor: pointer;
  border-width: var(--borderWidths-buttonBorderWidth);
  border-style: solid;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  background-color: var(--colors-brand);
  color: var(--colors-brandButtonText);
  border-color: var(--colors-brandAccent);
}:focus {
  border: none !important;
  box-shadow: 0 0 0 2px rgb(197, 184, 184) !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.t-dOnDMp{
  padding: 0 3rem 0 3rem;
}

@media screen and (max-width: 1080px) {
  body {
    width: 100vw;
  }
  
}